body {
    margin:0px;
    font-family:'Courier New';
}

.halfwidth
{
    width:50%;
}

.float-left
{
    float:left;
}

.float-right
{
    float:right;
}

#xmlSourceArea 
{
    width:100%;
    height:235px;
    background-color:#f1efef;
    border:1px solid #333;
    font-family:'Courier New';
    font-size:8pt;
}

/*#xPathResultDiv 
{
    border:1px solid #333;
    font-family:Verdana;
    font-size:8pt;
}*/