@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>nXPATH v/0.1</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" />
    @RenderSection("Head", required:false)
</head>
<body>
        <div id="mainpane" class="mainpane group">
          @RenderBody()
        </div>

</body>
</html>
