@{
    ViewBag.Title = "Index";
}

@section Head{
    <link rel="stylesheet" href="@Url.Content("~/style/style.css")" type="text/css" />    
    <script type="text/javascript">
        $(function () {
            // implement
        });
    </script>
}

<h2>nXPath</h2>
<div class="halfwidth float-left">
    <iframe style="height:600px;width:100%;" src="@Url.Action("XmlLoader")"></iframe>
</div>

<div class="halfwidth float-right">
    <iframe style="height:600px;width:100%;" src="about:blank"></iframe>
</div>