@{
    ViewBag.Title = "Index";
}

@section Head{
    <link rel="stylesheet" href="@Url.Content("~/style/style.css")" type="text/css" />    
    <script type="text/javascript">
        $(function () {
            // implement
            $("#executeXPathButton").click(function () {
                var undecoded = $("#xmlFrame").contents().find("pre").html();
                var pathExpression = $("#xpathInput").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Content("~/Home/XPathProcessing")',
                    data: { xmlDoc: undecoded, xPath: pathExpression },
                    success: function (res) {
                        //$("#xResultFrame").contents().find("#resContainer").html("<pre id='xpathResults' class='brush: xml'/>"); // clear
                        //$("#xResultFrame").contents().find("#xpathResults").text(res);
                        // prettify
                        //parent.window.frames["xResultFrame"].updatePrettyXml();
                        parent.window.frames["xResultFrame"].renderResults(res);
                        console.log(res);
                    },
                    dataType: 'text'
                });

            });
        });
    </script>
}

<h2>nXPath</h2>
<div>

       <span id="xpathEntrySpan">Enter Your xPath:</span> <input type="text" id="xpathInput" /><input id="executeXPathButton" type="button" class="ui-button" value="Execute" />
</div>
<div class="halfwidth float-left">

    <iframe id="xmlFrame" style="height:600px;width:100%;" src="@Url.Action("XLoader")"></iframe>
</div>

<div class="halfwidth float-right">
    <iframe id="xResultFrame" style="height:600px;width:100%;" src="@Url.Action("XResolve")"></iframe>
</div>