@{
    ViewBag.Title = "XLoader";
}

@section Head{
    <link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
    <script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });

    </script>    
}
@using(Html.BeginForm("XLoader", "Home", FormMethod.Post)){
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Load From Paste</a></li>
    <li><a href="#tabs-2">Load From File</a></li>
  </ul>
  <div id="tabs-1">
    <textarea id="xmlSourceArea" name="xmlSourceArea"></textarea>
  </div>
  <div id="tabs-2">
    <input type="file" value="Select File" />
  </div>
</div>
<input class="ui-button" type="submit" value="Load Xml Content" />
}